/*RESET.CSS*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*END RESET.CSS*/

.wrapper {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}

.center {
  max-width: 1146px;
  width: 100%;
  margin: 0 auto;
}

header{
  padding-top: 10px;
 height: 46px;
  background-color: #3b83d4;
  display: flex;
  justify-content: space-between;
}
.lefttop{
  display: flex;
  justify-content: start;
}
.navmenu{
  margin-right: 10px;
}
.navmenu a{
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  color: #ffffff;
  text-decoration: none;
}
.navmenu1 a{
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  color: #ffffff;
  text-decoration: none;
}
select, option{
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #3b83d4;
  text-decoration: none;
}
.hed{
  display: block;
  height: 20px;
  width: 1px;
  background-color: #4f90d8;
  margin-right: 10px;
}
.righttop{
  display: flex;
  justify-content: end;
}
.nav{
  display: flex;
  justify-content: space-between;
}
.navmenu1{
margin-right: 10px;
}


/*   Навигационное меню   */
nav{
  background-color: #3f8be1;
  height: 164px;
  
}
.logo{
  padding-top: 30px;
  display: flex;
  justify-content: flex-start;
}
h1{
  padding-top: 5px;
  font-family: 'Open Sans', sans-serif;
  font-size: 26px;
  color: #ffffff;
  text-transform: uppercase;
  margin-left: 20px;
  font-weight: 600;
}
.item{
  margin-top: 30px;
  height: 46px;
  width: 144px;
  background-color: white;
display: flex;
justify-content: space-around;
}
.imgitem{
  padding-top: 13px;
  padding-bottom: 13px;
 align-items: center;
 margin-left: 10px;
  
}
.kooliitems{
  display: block;
  height: 46px;
  width: 1px;
  background-color: #e5e5e5;
}
.items{
  padding-top: 15px;
  margin-right: 10px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: black;
}
.spans{
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #408de4;
}

form.search{
  padding-top: 30px;
  border-radius: 2px;
  width: 60%;
  display: flex;
  justify-content: space-around;
 
  }
	form.search input{
	  float: left;
	  border: none;
    padding: 2px 10px 2px 4px;
	  font-family: 'Open Sans', sans-serif;
	  height: 46px;
    width: 100%;
    border-radius: 2px 0px 0px 2px;
	}
	form.search button{
	  float: left;
	  border: none;
	  background-color: #ffd200;
	  width: 52px;
	  font-size: 12px;
	  height: 46px;
	  font-family: 'Open Sans', sans-serif;
	  font-weight: bold;
	  color: #ffffff;
	  cursor: pointer;
	  text-transform: uppercase;
    text-align: center;
    border-radius: 0px 2px 2px 0px;
	}
	  form.search button:hover{
		background-color: burlywood;
    }
    .descr{
      display: flex;
      justify-content: space-between;
    }
    
    .descr a{
      text-decoration: none;
    }
    .nav_menu{
      margin-top: 28px;
      background-color: #333333;
    }
    .nav_menu ul {
      list-style: none;
      position: relative;
      }
      .nav_menu ul li {
      margin: 0px 15px 0 0;
      display: inline-block;
      background-color: #333333;
      }
      .nav_menu a {
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
      display:block;
      padding:0 10px;
      color:#FFF;
      font-size:20px;
      line-height: 60px;
      text-decoration:none;
  }
  .nav_menu a:hover {
      background-color: #000000;
}
.nav_menu ul ul {
  display: none;
  position: absolute;
  top: 100%;
}
.nav_menu ul li:hover > ul {
  display:inherit;
}
.nav_menu ul ul li {
  min-width:170px;
  float:none;
  display:list-item;
  position: relative;
  z-index: 100;
}
.nav_menu .namber_tel{
  margin-left: 23%;
}

.container1 .crumbs a{
  height: 30px;
  width: 40px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color:black;
  font-size: 20px;
  text-decoration: none;
}
.container1 .crumbs{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color:#3f8be1;
  font-size: 20px;
}

.container1 h5{
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  color:black;
  font-size: 26px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 70px;
}
.container3 .row{
  margin-left: -30px;
  margin-bottom: 80px;
}
.container3 h4{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color:black;
  font-size: 20px;
  line-height: 25px;
  margin-bottom: 15px;
}
.container3 p{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color:#777777;
  font-size: 12px;
  line-height: 18px;
  margin-bottom: 30px;
}
.container3 .btns a{
  text-decoration: none;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 12px;
	color: #eeeeee;
	padding: 16px 30px;
	background-color: #777777;
text-transform: uppercase;
text-align: center;
}
.container3 img{
  width: 100%;
}
.container4{
  background-color: #f9f9f9;
  min-height: 340px;
  padding-bottom: 40px;
}
.container4 .block .svg{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #408de4;
  margin: 0 auto;
}
.container4 .block .svg svg{
  height: 45px;
  width: 35px;
  margin-top: 18px;
  margin-left: 22px;
  color: white;
}
.container4 .block h6{
  margin-top: 24px;
  margin-bottom: 20px;
  font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 16px;
  color: black;
  text-transform: uppercase;
  text-align: center;
}
.container4 .block p{
  font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 12px;
  color: #888888;
  text-align: center;
  line-height: 15px;
}
.container4 .block{
  padding-top: 70px;
}
.container5{
  min-height: 170px;
  background-color: #d0d0d0;
  padding-bottom: 30px;
}
.container5 h6{
  font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 50px;
  color: #ffffff;
  text-align: center;
  margin-top: 40px;
}
.container5 p{
  margin-top: 5px;
  font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 12px;
  color: #ffffff;
  text-align: center;
}
.container6 h2{
  margin-top: 70px;
  font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 24px;
  color: black;
  text-align: center;
}
.container6 p{
  margin-top: 16px;
  font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 16px;
  color: #777777;
  text-align: center;
  margin-bottom: 40px;
}
.container6 .team{
  width: 260px;
  height: 400px;
  margin-bottom: 75px;
}
.container6 .team h6{
  margin-top: 30px;
  font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 16px;
  color: black;
  text-align: center;
  text-transform: uppercase;
}
.container6 .team p{
  margin-top: 10px;
  font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 16px;
  color: #bbbbbb;
  text-align: center;
}
.container6 .team svg{
  width: 20px;
  height: 20px;
  color: #bbbbbb;
}
.container6 .team img{
  width: 100%;
}

    .container2{
      background-color: #408de4;
      height: 102px;
    }
    form.search1{
      padding-top: 30px;
      border-radius: 2px;
      width: 50%;
      display: flex;
      justify-content: space-around;
     
      }
      form.search1 input{
        float: left;
        border: none;
        padding: 2px 10px 2px 4px;
        font-family: 'Open Sans', sans-serif;
        height: 46px;
        width: 100%;
        border-radius: 2px 0px 0px 2px;
      }
      form.search1 button{
        float: left;
        border: none;
        background-color: #ffd200;
        width: 100px;
        font-size: 12px;
        height: 46px;
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
        color: #ffffff;
        cursor: pointer;
        text-transform: uppercase;
        text-align: center;
        border-radius: 0px 2px 2px 0px;
      }
        form.search1 button:hover{
        background-color: burlywood;
        }
        .description{
          display: flex;
          justify-content: space-between;
        }
        .description img{
          padding-top: 35px;
          padding-bottom: 35px;
        }
        .description h4{
          padding-top: 35px;
          font-family: 'Open Sans', sans-serif;
          font-weight: bold;
          color: #ffffff;
          text-transform: uppercase;
          font-size: 13px;
          line-height: 16px;
        }
        .description .txt{
          padding-top: 45px;
          font-family: 'Open Sans', sans-serif;
          font-weight: bold;
          color: #ffffff;
          text-transform: uppercase;
          font-size: 13px;
        }
        .description .svg{
          margin-top: 30px;
          background-color: #ffffff;
          height: 40px;
          width: 40px;
border-radius: 22px;
        }
        .description svg{
          margin-top: 12px;
          margin-left: 13px;
        }
        footer{
          background-color: #f8f8f8;
          min-height: 350px;
        }
       .description1 .footer_logo{
         margin-top: 70px;
          display: flex;
          margin-bottom: 18px;
        }
        h2{
          font-family: 'Open Sans', sans-serif;
          font-size: 26px;
          color: black;
          text-transform: uppercase;
          margin-left: 20px;
          font-weight: 600;
        }
        .description1 .text{
          font-family: 'Open Sans', sans-serif;
          font-size: 12px;
          color: #8f8f8f;
          font-weight: 400;
          line-height: 18px;
        }
        .description1 .text1{
          padding-top: 15px;
          font-family: 'Open Sans', sans-serif;
          font-size: 12px;
          color: #555555;
          font-weight: 400;
          
        }
        .description1 .contacts{
          font-family: 'Open Sans', sans-serif;
          font-size: 12px;
          color: #8f8f8f;
          font-weight: 400;
          text-decoration: none;
        }
        .description2 h3{
          margin-top: 70px;
          font-family: 'Open Sans', sans-serif;
          font-size: 16px;
          color: black;
          font-weight: bold;
          margin-bottom: 36px;
        }
        .description2 a{
          display: block;
          font-family: 'Open Sans', sans-serif;
          font-size: 12px;
          color: #8f8f8f;
          font-weight: 400;
          text-decoration: none;
          margin-top: 15px;
        }
        .container_end {
          height: 80px;
        }    
        .container_end .block_end{
          margin-top: 35px;
          font-family: 'Open Sans', sans-serif;
          font-size: 12px;
          color: #8f8f8f;
          font-weight: 400;
          text-transform: uppercase;
        }